<footer class="w-full text-white p-6">
    <div class="w-3/4 mx-auto flex items-center justify-between">
        <div>
            <div class="flex items-center mb-2">
                <img
                    src="./images/wordezoiclogo.png"
                    alt="Ezoic Logo"
                    class="h-8 w-auto mr-2"
                />
                <h4 class="text-lg font-bold">Ezoic</h4>
            </div>
            <nav>
                <ul class="space-y-2">
                    <li>
                        <a
                            href="https://www.ezoic.com/"
                            class="text-gray-300 hover:text-white">Ezoic.com</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://login.ezoic.com/"
                            class="text-gray-300 hover:text-white">Login</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://support.ezoic.com/"
                            class="text-gray-300 hover:text-white">Support</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
        <div>
            <p>&copy; 2023 Ezoic Inc.</p>
        </div>
    </div>
</footer>
