<section class="pt-20 pr-0 pb-20 pl-0">
    <div
        class="pt-0 pr-10 pb-0 pl-10 mt-0 mr-auto mb-0 ml-auto max-w-5xl xl:px-12"
    >
        <div class="mt-0 mr-auto mb-12 ml-auto text-center max-w-2xl lg:mb-20">
            <img
                src="./images/largeaheadlogo.png"
                class="mt-4 lg:block w-4/5 h-auto pb-4 mx-auto opacity-70"
            />
        </div>
    </div>
</section>
