<section class="overflow-hidden relative">
    <div class="px-8 py-12 mx-auto md:px-12 lg:py-24 lg:px-36 max-w-7xl">
        <div data-aos="fade-up" data-aos-duration="2000">
            <h3 class="text-4xl text-white font-display">
                Non award winning designs,

                <span class="md:block text-onyx-400">
                    and simply just that and that.</span
                >
            </h3>
            <div class="flex flex-wrap mt-12">
                <a
                    class="inline-flex items-center justify-center w-full sm:w-auto px-6 py-3 text-sm text-center text-onyx-300 duration-500 ease-in-out transform border border-onyx-800 bg-onyx-900 rounded-xl focus:outline-none focus:ring-2 hover:text-blue-300 focus:ring-offset-2 focus:ring-onyx-300 focus:ring-offset-onyx-900"
                    href="/work/home"
                    >See all our work
                </a>
            </div>
        </div>
        <ul
            role="list"
            class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 mt-24"
        >
            <li>
                <figure
                    class="relative tilt-card h-full p-8 rounded-3xl bg-gradient-to-tr from-onyx-950 to-onyx-700 border border-onyx-800 shadow-massive"
                >
                    <a
                        href="/work/case-study"
                        class="h-full group flex flex-col justify-between"
                    >
                        <img
                            alt="#"
                            src="/logos/jetbrains.svg"
                            decoding="async"
                            data-mining="future"
                            class="object-cover rounded-full shrink-0 h-16 w-16 drop-shadow-3xl"
                            loading="lazy"
                        />

                        <blockquote class="relative space-y-3 mt-24">
                            <span class="text-xs text-onyx-400">2023</span>
                            <p class="text-sm font-medium leading-6 text-white">
                                JetBrains ToolBox / <span class="text-onyx-300">
                                    Development</span
                                >
                            </p>
                            <p class="text-base text-onyx-300">
                                IntelliJ IDEA is undoubtedly the top-choice IDE
                                for software developers.
                            </p>
                        </blockquote>
                    </a>
                </figure>
            </li>
            <li>
                <figure
                    class="relative tilt-card h-full p-8 rounded-3xl bg-gradient-to-tr from-onyx-950 to-onyx-700 border border-onyx-800 shadow-massive"
                >
                    <a
                        href="/work/case-study"
                        class="h-full group flex flex-col justify-between"
                    >
                        <img
                            alt="#"
                            src="/logos/figma.svg"
                            decoding="async"
                            data-mining="future"
                            class="object-cover rounded-full shrink-0 h-16 w-16 drop-shadow-3xl"
                            loading="lazy"
                        />

                        <blockquote class="relative space-y-3 mt-24">
                            <span class="text-xs text-onyx-400">2022</span>
                            <p class="text-sm font-medium leading-6 text-white">
                                Figma / <span class="text-onyx-300">
                                    Design &amp; Development</span
                                >
                            </p>
                            <p class="text-base text-onyx-300">
                                Figma is an online whiteboard where everyone who
                                builds products can collaborate.
                            </p>
                        </blockquote>
                    </a>
                </figure>
            </li>
            <li>
                <figure
                    class="relative tilt-card h-full p-8 rounded-3xl bg-gradient-to-tr from-onyx-950 to-onyx-700 border border-onyx-800 shadow-massive"
                >
                    <a
                        href="/work/case-study"
                        class="h-full group flex flex-col justify-between"
                    >
                        <img
                            alt="#"
                            src="/logos/kayako.svg"
                            decoding="async"
                            data-mining="future"
                            class="object-cover rounded-full shrink-0 h-16 w-16 drop-shadow-3xl"
                            loading="lazy"
                        />

                        <blockquote class="relative space-y-3 mt-24">
                            <span class="text-xs text-onyx-400">2022</span>
                            <p class="text-sm font-medium leading-6 text-white">
                                Kayako / <span class="text-onyx-300">
                                    Design &amp; Development</span
                                >
                            </p>
                            <p class="text-base text-onyx-300">
                                Kayako provides a complete help desk experience
                                with a fully customizable knowledge base.
                            </p>
                        </blockquote>
                    </a>
                </figure>
            </li>
        </ul>
    </div>
</section>
